<body class="submain">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".open").click(function() {
                $(".color").addClass("active");
            });
            $(".close").click(function() {
                $(".color").removeClass("active");
            });
            $('#date').pickadate({
                formatSubmit: 'mm/dd/yyyy',
                hiddenName: false
            });
            $('#time').pickatime({
                formatSubmit: 'HH:i',
                hiddenName: false
            });
        });
    </script> -->
    ​ ​


    <div class="control_space">
        <h1>
            <%= reminderItem.title %>
        </h1>



        <% for (var item in reminderItem.tags){ %>
            <label class="lab"><%= reminderItem.tags[item] %></label>
            <% } %>

                <h3>Date:
                    <%= "" + (reminderItem.datetime.getYear() + 1900) +'-' + (reminderItem.datetime.getMonth()+1) + '-' + (reminderItem.datetime.getDate())  %>
                </h3>

                <h3>Time:
                    <%= "" + (reminderItem.datetime.getHours()) + ':' + (reminderItem.datetime.getMinutes()) %>
                </h3>
                ​
                <h3>Subtasks: </h3>
                <ul class="subtask">
                    <% for(let i =0;i < reminderItem.subtask.length;i++){ %>
                        <li>
                            <%= reminderItem.subtask[i] %>
                        </li>
                        <% } %>
                </ul>
                <p class="open" id="btn">+</p>


    </div>

    <div class="color">
        <div class="button_part">
            <button class="close">X</button>
            <form action=<%="/users/profile/" + reminderItem.id %> method="POST">
                <h2>Add tag to reminder</h2>
                <h4>Existing tags:</h4>
                <% for (var item in reminderItem.tags){ %>
                    <label class="lab"><%= reminderItem.tags[item] %></label>
                    <% } %>
                        <br>
                        <h4>Add new tag:</h4>
                        <input placeholder="Enter tag name..." type="text" name="tag" id="tag">
                        <br>
                        <span class="dot1"></span><span class="dot2"></span><span class="dot3"></span><span class="dot4"></span><span class="dot5"></span><span class="dot6"></span>
                        <br>
                        <br>
                        <button class="button tag">Add tag</button>
            </form>
        </div>
    </div>

    <!--create edit popup window-->
    <div class="edit-popup">
        <div class="form-popup_edit" id="popupForm">
            <form action=<%="/users/profile/" + reminderItem.id + "/update" %> class="form-container_edit" method="POST">
                <h2 id="popupHeader_edit">Edit Reminder</h2>
                <h4 id="popupTitle_edit">Title</h4>
                <input name="title" type="text" id="planInput_edit" value=<%="" + reminderItem.title %> >
                <h4 id="popupDescription_edit">Description:</h4>
                <input name="description" type="textfield" id="description_edit" value=<%="" + reminderItem.description %>>
                <h4 id="popupDate_edit">Date:</h4>
                <input name="date" type="text" id="date" class="dateInput_edit" value=<%="" + (reminderItem.datetime.getYear()) +'-' + (reminderItem.datetime.getMonth()+1) + '-' + (reminderItem.datetime.getDate()) %>>
                <h4 id="popupTime_edit">Time:</h4>
                <input name="time" type="text" id="time" class="timeInput_edit" value=<%="" + (reminderItem.datetime.getHours()) + ':' + (reminderItem.datetime.getMinutes()) %>>
                <h4 id="popupSubtask_edit">Subtask</h4>
                <% for(let i =0;i < reminderItem.subtask.length;i++) { %>
                <input name= 'subtask' type='text' class='subtask' value=<%="" + reminderItem.subtask[i] %>>
                <% } %>
                <br><button type="submit" id="confirmButton_edit">Confirm</button>
            </form>
            <input type="button" value="X" id="closeButton_edit" alt="Click to close" onclick="closeEditPopup()">
        </div>
    </div>

    <!--end edit popup window-->


    <div class='weather'>
        <div class='weather-popup' id='weatherDisplay'>
            <input type="button" value="X" id="closeButton_edit" alt="Click to close" onclick="closeWeatherPopup()">
            <table id='weather-table'>
                <tr>
                    <td id='day0'>            
                    </td>
                    <td>   
                        <canvas id="day0icon" width="64" height="64"></canvas>
                    </td>   
                    <td>
                        <p class='temperature-in-weather' id="day0temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day0temperaturehigh"></p>
                    </td>       
                </tr>
                <tr>
                    <td id='day1'></td>
                    <td>            
                        <canvas id="day1icon" width="64" height="64"></canvas>
                    </td>
                    <td>
                        <p class='temperature-in-weather' id="day1temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day1temperaturehigh"></p>
                    </td>   
                </tr>
                <tr>
                    <td id='day2'></td>
                    <td>
                        <canvas id="day2icon" width="64" height="64"></canvas>
                    </td>             
                    <td>
                        <p class='temperature-in-weather' id="day2temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day2temperaturehigh"></p>
                    </td>      
                </tr>
                <tr>
                    <td id='day3'></td>
                    <td>
                        <canvas id="day3icon" width="64" height="64"></canvas>
                    </td>
                    <td>
                        <p class='temperature-in-weather' id="day3temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day3temperaturehigh"></p>
                    </td>   
                </tr>
                <tr>
                    <td id='day4'></td>
                    <td> 
                        <canvas id="day4icon" width="64" height="64"></canvas>
                    </td> 
                    <td>
                        <p class='temperature-in-weather' id="day4temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day4temperaturehigh"></p>
                    </td>                  
                </tr>
                <tr>
                    <td  id='day5'></td>
                    <td>
                        <canvas id="day5icon" width="64" height="64"></canvas>
                    </td>
                    <td>
                        <p class='temperature-in-weather' id="day5temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day5temperaturehigh"></p>
                    </td>   
                </tr>
                <tr>
                    <td  id='day6'></td>
                    <td>
                        <canvas id="day6icon" width="64" height="64"></canvas>
                    </td>
                    <td>
                        <p class='temperature-in-weather' id="day6temperaturelow"></p>
                    </td>  
                    <td>
                        <p class='temperature-in-weather' id="day6temperaturehigh"></p>
                    </td>   
                </tr>
            </table>
            <div id='darksky-link-in-weather'>
                <a href="https://darksky.net/dev">powered by darksky</a>
            </div>
        </div>
        
    </div>


    <div class="footer">
        <% if( (reminderItem.datetime - Date.now()) / (1000 * 60 * 60 * 24) <= 7 ) { %>
        ​<input type="button" id="umbBtn" class="button reminder" value="BRING AN UMBRELLA?" onclick="openWeatherPopup()">
        <% } %>
        <table>
            <th><input type="button" class="button edit" value="Edit" onclick="openEditPopup()"></th>
            <th><button class="button share">Share<i class="fa fa-share-alt"></i></th>
                <th>
                    <form action=<%="/users/profile/" + reminderItem.id + "/delete/" %> method="POST">
                    <button class="button delete" id="delete-reminder-button">Delete<i class="btn fa fa-trash">
                    </form>
                </th>
        </table>
    </div>

    
</body>
